body {
    background-color: darkslateblue;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 20px; */
    border: dotted 1px green;
}

.container > * {
    flex: 1;
}

.container.mid {
    flex-direction: column;
    gap: 64px;
}

.container.mid > * {
    flex: 1;
}

.choice-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    border: dotted 1px red;
}

button {
    background-color: blue;
    border-radius: 4px;
    font-weight: 700;
}

button.choice {
    font-size: 32px;
    width: 200px;
    padding: 10px 30px;
}

button.play {
    font-size: 32px;
    padding: 10px 40px;
    background-image: linear-gradient(#4696d3, #0972f1);
    border: 1px solid #0077cc;
    color: white;
}

button.play:hover {
    background-image: linear-gradient(#4bacf7, #0972f1);
}

input[type="radio"] {
    opacity: 0%;
    position: fixed;
    width: 0;
}

label {
    font-size: 24px;
    padding: 10px 20px;
    border: solid 2px whitesmoke;
    background-color: rgba(0, 139, 139, 30%);
    border-radius: 4px;
}

input[type="radio"]:focus + label {
    background-color: #daa520;
}

label:hover {
    background-color: #daa52088;
}