body {
    background-color: darkslateblue;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

h1 {
    font-size: 48px;
    color: lavender;
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 200px;
}

.container.side {
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container.mid {
    flex: 1;
    flex-direction: column;
    gap: 24px;
}

.container.mid > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scores {flex: 0.5;}
.result {
    flex: 1;
    font-size: 48px;
}
.play {flex: 1;}

.option {
    font-size: 24px;
    padding: 10px 20px;
    border: solid 2px whitesmoke;
    background-color: rgba(0, 139, 139, 30%);
    border-radius: 4px;
}

.option.user:hover {
    background-color: #daa52088;
}
.option.selected {
    background-color: darkGoldenrod;
}
.option.selected:hover {
    background-color: goldenrod;
}

button.play {
    color: white;
    font-size: 32px;
    font-weight: 700;
    background-image: linear-gradient(#4696d3, #0972f1);
    border: 1px solid #0077cc;
    border-radius: 4px;
    padding: 10px 40px;
}

button.play:hover {
    background-image: linear-gradient(#4bacf7, #0972f1);
}