body {
    background-color: darkslateblue;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex: 1;
}

button {
    background-color: lightgray;
    color: Indigo;
    font-size: 48px;
    font-weight: 700;
    padding: 15px 60px;
    border-radius: 4%;
}